---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Drawer from "../../components/Drawer.astro";
import BottomNav from "../../components/BottomNav.astro";
import FilmCard from "../../components/FilmCard.astro";

const imagesURL = "https://image.tmdb.org/t/p/w300";

const parts = Astro.params.category.split('-');
const category_id = parts[0];
const category_name = parts[1];
// console.log(Astro.params) //bien
import { getMoviesByCategories } from "../../api/main.js";
const catMovies = await getMoviesByCategories(category_id);
const movies = catMovies.results
---

<Layout title="Fox Films">
  <Navbar />
  <Drawer />
  <div class="dark:bg-gray-800 px-8 py-20">
    <h2 class="dark:text-white mb-4 text-2xl font-bold">{category_name}</h2>
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {
        movies.map((movie) => {
          return (
            <div class="flex self-center">
              <FilmCard
                image={imagesURL + movie.poster_path}
                alt={movie.title}
                stars={movie.vote_average} id={movie.id}
              />
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
<BottomNav />
