---
export const prerender = true; //SSR things
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Drawer from "../components/Drawer.astro";
import TitleCard from "../components/TitleCard.astro";
import Carousel from "../components/Carousel.astro";
// import CarouselVertical from "../components/CarouselVertical.astro";
import Categories from "../components/Categories.astro";
import BottomNav from "../components/BottomNav.astro";

//TODO
//Categories routing

//FIXME
//para que se activen los scripts del Drawer hay que esperar a que carguen todas las images cosa que ralentiza mucho el first interaction
---

<Layout title="Fox Films">
		<Navbar />
  <Drawer />
  <div class="dark:bg-gray-800 px-10">
    <TitleCard title={`Trending Movies`} />
  </div>
  <Carousel />
  <div class="dark:bg-gray-800 px-10">
    <TitleCard title={`Categories`} />
    <!-- <CarouselVertical /> -->
    <Categories />
  </div>
  <BottomNav />
</Layout>
