---
export const prerender = true; //SSR things
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Drawer from "../components/Drawer.astro";
import TitleCard from "../components/TitleCard.astro";
import Carousel from "../components/Carousel.astro";
import Categories from "../components/Categories.astro";
import BottomNav from "../components/BottomNav.astro";
import Search from "../components/Search.astro";

//TODO
//Redeploy
//skeletons
//pagination
//local storage
---

<Layout title="Fox Films">
		<Navbar />
  <Drawer />
  <div class="dark:bg-gray-800 px-10 pt-20">
    <Search />
    <TitleCard title={`Trending Movies`} />
  </div>
  <Carousel />
  <div class="dark:bg-gray-800 px-10">
    <TitleCard title={`Categories`} />
    <Categories />
  </div>
  <BottomNav />
</Layout>
