---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Drawer from '../components/Drawer.astro';
import TitleCard from '../components/TitleCard.astro';
import Carousel from '../components/Carousel.astro';
import CarouselVertical from '../components/CarouselVertical.astro';
import BottomNav from '../components/BottomNav.astro';
---

<Layout title="Trends Movies">
	<Navbar/>
	<Drawer/>
	<main class="dark:bg-gray-800 px-10">
		<TitleCard/>
		<Carousel/>
		<TitleCard/>
		<CarouselVertical/>
	</main>
	<BottomNav/>
</Layout>


