---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-red-500 text-5xl font-bold">Welcome to <span class="text-gradient">Astro</span></h1>
	</main>
</Layout>


