<div
  class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600"
>
  <div class="grid h-full max-w-lg grid-cols-3 mx-auto font-medium">
    <button
      type="button"
      class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
    >
      <svg
        class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        fill="currentColor"
        ><path
          d="M12 2c5.523 0 10 4.477 10 10a9.982 9.982 0 0 1-3.76 7.814l-.239.186H20a1 1 0 0 1 .117 1.993L20 22h-8C6.477 22 2 17.523 2 12S6.477 2 12 2Zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16Zm0 10a2 2 0 1 1 0 4 2 2 0 0 1 0-4Zm-4-4a2 2 0 1 1 0 4 2 2 0 0 1 0-4Zm8 0a2 2 0 1 1 0 4 2 2 0 0 1 0-4Zm-4-4a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"
        ></path></svg
      >
    </button>
    <button
      type="button"
      class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
    >
      <svg
        class="w-6 h-6 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
        viewBox="0 0 16 22"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1 2.87502L1 19.125C1 20.1589 1.78501 21 2.74997 21H5.66664C5.98908 21 6.24998 20.7205 6.24998 20.375C6.24998 19.3411 7.03498 18.5 7.99998 18.5C8.96498 18.5 9.74999 19.3411 9.74999 20.375C9.74999 20.7205 10.0109 21 10.3333 21H13.25C14.215 21 15 20.1589 15 19.125L15 2.87502C15 1.84108 14.215 1 13.25 1L10.3333 1C10.0109 1 9.74999 1.27953 9.75002 1.625C9.75002 2.65894 8.96502 3.50002 8.00002 3.50002C7.03502 3.50002 6.25001 2.65894 6.25001 1.625C6.25001 1.27953 5.98912 1 5.66668 1H2.75C1.78501 1 1 1.84108 1 2.87502ZM2.84546 2.25H5.19399C5.46021 3.67455 6.61681 4.75002 7.99999 4.75002C9.38317 4.75002 10.5398 3.67455 10.806 2.25H13.1546C13.4705 2.25 13.7273 2.53017 13.7273 2.875L13.7273 19.125C13.7273 19.4698 13.4705 19.75 13.1546 19.75H10.8061C10.5398 18.3254 9.38321 17.25 8.00003 17.25C6.61685 17.25 5.46021 18.3255 5.19399 19.75H2.84546C2.52947 19.75 2.27273 19.4698 2.27273 19.125L2.27273 2.875C2.27273 2.53017 2.52947 2.25 2.84546 2.25Z"
        ></path>
      </svg>
    </button>
    <button
      type="button"
      class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
    >
      <svg
        class="w-5 h-5 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15.1002 0.11908C15.375 0.233627 15.5939 0.4142 15.7564 0.661102C15.9187 0.907883 16 1.18095 16 1.48065V18.5195C16 18.8192 15.9188 19.0923 15.7564 19.3389C15.5938 19.586 15.3749 19.7667 15.1002 19.8811C14.9418 19.9517 14.7584 19.9867 14.55 19.9867C14.1502 19.9867 13.8043 19.8456 13.5126 19.5641L8.00004 13.9588L2.48747 19.5639C2.18739 19.8545 1.84173 20 1.44992 20C1.25829 20 1.07489 19.9604 0.900024 19.8812C0.625074 19.7668 0.406252 19.586 0.243777 19.3393C0.0813467 19.0923 0 18.8193 0 18.5195V1.48047C0 1.18077 0.0813467 0.9077 0.243777 0.660919C0.406252 0.414154 0.625074 0.233353 0.900024 0.118896C1.07506 0.0396729 1.25829 0 1.44992 0H14.5501V0.000183105C14.7418 0.000183105 14.9252 0.0398712 15.1002 0.11908ZM9.1126 12.7427L14.4001 18.1095V1.6922H1.60016V18.1095L6.88761 12.7427L8.00006 11.6193L9.1126 12.7427Z"></path>
      </svg>

      <!-- <span
        class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
        >Profile</span> -->
    </button>
  </div>
</div>
