---
import FilmCard from "./FilmCard.astro";
import { getTrendingMoviesPreview } from "../api/main.js";
const imagesURL = 'https://image.tmdb.org/t/p/w300'

let skeletons: string = 'block'
const data = await getTrendingMoviesPreview();
if(data) {
  skeletons = 'hidden'
}
---

<div class="flex flex-row overflow-x-scroll gap-2 dark:bg-gray-800 px-2">
  {
    <p class={`dark:text-white ${skeletons}`}>You are Offline</p>
  }

  {
    data && data.map((movie) => {
      return (
        <>
          <FilmCard image={imagesURL + movie.poster_path} stars={movie.vote_average} alt={movie.title} id={movie.id}/>
        </>
      )
    })
  }
</div>
