---
import FilmCard from "./FilmCard.astro";
/* TODO
* Insert dynamism
 */
---

<div class="flex flex-row overflow-x-scroll gap-2">
    <FilmCard />
    <FilmCard />
    <FilmCard />
    <FilmCard />
</div>