---
import Genres from "./Genres.astro";
import { getCategoriesPreview } from "../api/main.js";
const data = await getCategoriesPreview();
---

<div class="flex flex-col flex-wrap pb-20 dark:bg-gray-800 gap-4 altura">
  <!-- <p class="dark:text-white">Data not Found</p> -->
  {
    data && data.map((genre) => {
        return (
          <>
            <Genres name={genre.name} id={genre.id} />
          </>
        );
      })
  }
</div>

<style>
  .altura {
    height: 70vh;
  }
</style>
