---
import Genres from "./Genres.astro";
import { getCategoriesPreview } from "../api/main.js";
const categories = await getCategoriesPreview();
//TODO
//que cada link en de categoria lleve una pagina dinamica con el id/name de la categoria
---

<div class="flex flex-col flex-wrap pb-20 dark:bg-gray-800 gap-4 altura">

    {
      categories.map((genre) => {
        return (
          <>
            <Genres name={genre.name}/>
          </>
        );
      })
    }
</div>


<style>
    .altura {
        height: 70vh;
    }
</style>