---
const name = Astro.props.name
//TODO
/**
 * ver como clasificar los genres dependiendo del id
 */
---
<div class="flex gap-4">
    <a class="flex gap-2 justify-center" href="">
        <span class="bg-blue-100 w-5 h-5 px-2 py-2 rounded-md dark:bg-blue-200 dark:text-blue-800 ">
        </span>
        <p class=" text-md font-semibold dark:text-white">{name}</p>
    </a>
</div>
