---

---
<div class="py-6">
    <div class="flex flex-col gap-2 items-center p-2 dark:text-white">
        <img class="w-fit rounded" src="/actor.png" alt="Default avatar">
        <p>Tom Holland</p>
    </div>
</div>