---
import TitleCard from "./TitleCard.astro";
import MovieActor from "./MovieActor.astro";
---

<div class="mt-6">
  <TitleCard title={`Cast`} />

  <div class="flex flex-row overflow-x-scroll gap-4">
        <MovieActor/>
        <MovieActor/>
        <MovieActor/>
        <MovieActor/>
        <MovieActor/>
    
  </div>
</div>
