---
import MovieHeader from "./MovieHeader.astro";
/*TODO
 * video con glightbox
 */
---

  <div
    class="fixed inset-0 bg-image "
  >
  </div>

<MovieHeader />

<style>
  .bg-image {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url("video1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }
</style>
