---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Drawer from "../../components/Drawer.astro";
import BottomNav from "../../components/BottomNav.astro";

const imagesURL = "https://image.tmdb.org/t/p/w300";
---

<Layout title="Fox Films">
  <Navbar />
  <Drawer />
  <div class="dark:bg-gray-800 px-8 py-20">
    <h2 class="dark:text-white mb-4 text-2xl font-bold">Favs Movies</h2>

    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      id="liked-movies-container"
    >
      <!-- //favs movies en LS (vanilla) -->
    </div>
  </div>
</Layout>

<BottomNav />

<script>
  import { likedMoviesList } from "../../api/main";

  function getLikedMovies() {
    const likedMovies = likedMoviesList();

    let moviesArray = [];

    likedMovies.forEach((movie) => {
      moviesArray.push(movie.html);
    });

    const container = document.querySelector("#liked-movies-container");
    container.innerHTML = moviesArray.join("");
  }
  getLikedMovies();
</script>
