---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      // Dark Mode Script
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </head>
  <body>
    <slot />
    <script>
      import "./darkTheme.js";
    </script>
  </body>
</html>

<script>
  //* Local Storage *//
  import { likeMovie } from '../api/main.js'
  const nodeListOfBtn = document.querySelectorAll("#fav-btn");
  const btns = [...nodeListOfBtn];

  btns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const link = btn.previousElementSibling//dame el elemento <a>
      const url = link.href;//dame el link
      const parts = url.split("/");
      const id = parts[parts.length - 1];//dame el id
      const movie = btn.parentElement.parentElement;//dame el elemento movie
      // console.log(id)
      // console.log(movie)
      btn.classList.toggle("text-yellow-300");//pinta button de amarillo al hacer click
      //pero necesito que se pinte si esta en el LS

      //TODO
      // - que se guarde en LS
      likeMovie(id, movie);
    });
  });

</script>
